<p>{{description}}</p>

<hr/>
<h3>Technical Information</h3>
<dl>
    <dt>User ID</dt>
    <dd>{{user.id}}</dd>

    <dt>Email address</dt>
    <dd>{{user.email}}</dd>

    <dt>Profile</dt>
    <dd>Profile: <a href="{{user.profileUrl}}">{{user.name}}</a></dd>

    <dt>Current page</dt>
    <dd><a href="{{user.currentPage}}">{{user.currentPage}}</a></dd>

    <dt>User Agent</dt>
    <dd>{{userAgent}}</dd>
</dl>