<html prefix="og: http://ogp.me/ns#">
<head>
    <title>{{trip.name}}</title>
    <meta property="og:title" content="{{trip.name}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{config.app.fullName}}"/>
    <meta property="og:url" content="{{config.app.frontend}}/#index/index/trip/{{trip._id}}"/>
    <meta property="og:image" content="{{config.app.frontend}}/images/icon/favicon-194x194.png"/>
</head>
</html>