<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" id="{{id}}-toggle-button" data-toggle="collapse" data-target="#{{id}}-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">&nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="{{id}}-main">
        <ul class="nav navbar-nav">
            <li class="{{id}}-top-level-menu-item active" id="{{id}}-inbox-top-level-menu-item"><a
                    href="#document/inbox"><i class="fa fa-fw fa-inbox"></i> <span class="">{{translate 'Inbox'}}</span><sup
                    id="{{id}}-inbox-count" class="label inbox-count"></sup></a>
            </li>
            <li class="{{id}}-top-level-menu-item " id="{{id}}-documents-top-level-menu-item"><a
                    href="#document/list"><i class="fa fa-fw fa-files-o"></i> <span
                    class="">{{translate 'Documents'}}</span></a>
            </li>
            {{#if isAdmin}}
                <li class="{{id}}-top-level-menu-item" id="{{id}}-workflows-top-level-menu-item"><a
                        href="#workflow/list"><i class="fa fa-fw fa-random"></i> <span
                        class="hidden-sm ">{{translate 'Workflows'}}</span></a>
                </li>
                <li class="{{id}}-top-level-menu-item" id="{{id}}-users-top-level-menu-item"><a
                        href="#user/list"><i class="fa fa-fw fa-users"></i> <span
                        class="hidden-sm ">{{translate 'Users'}}</span></a>
                </li>
            {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="help" id="{{id}}-help"><i class="fa fa-fw fa-question-circle"></i> <span
                    class="hidden-sm">{{translate 'Help'}}</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle account" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img class="account-img img-circle" width="{{user.avatarSize}}" height="{{user.avatarSize}}" src="{{user.avatarUrl}}"/>
                    <span class="hidden-lg hidden-md hidden-sm visible-xs account-name">{{user.name}}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">

                    {{#if isAdmin}}
                        <li><a href="#" id="{{id}}-impersonate"><i
                                class="fa fa-user-secret"></i> {{translate 'Impersonate'}}</a></li>
                        <li class="divider"></li>
                    {{/if}}

                    {{#if isImpersonated}}
                        <li><a href="#" id="{{id}}-restore-impersonate"><i
                                class="fa fa-fw fa-arrow-circle-o-left"></i> {{translate 'Switch Back'}}</a></li>
                        <li class="divider"></li>
                    {{/if}}

                    <li><a href="/session/logout" id="{{id}}-sign-out"><i
                            class="fa fa-fw fa-sign-out"></i> {{translate 'Sign Out'}}</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->