<div class="info-window">
    <address>
  <strong>{{name}}</strong><br>
  {{{address}}}<br>
  {{#if phone}}
  <abbr title="Phone">P:</abbr> {{phone}}<br>
  {{/if}}
  {{#if website}}
  <a href="{{website}}" target="_blank">{{website}}</a>
  {{/if}}
</address> 
{{#if photos}}
    <div class="galery">
        {{#each photos}}
        <div class="img-thumbnail photo" style="background-image: url({{this}})"></div>
        {{/each}}
    </div>
    <br /> {{/if}}

    <div class="clearfix">
        <img src="{{baseUrl '/images/sabre.jpg'}}" />
        <h4 class="text-success pull-right">{{translate 'Total'}} <strong>{{total}}</strong></h4>
    </div>
</div>