<div class="wrapper">
    <div id="{{id}}-account" class="account">
    </div>
    <div id="{{id}}-trips" class="trips">
        {{translate 'Loading trips...'}}
    </div>
    <div id="{{id}}-trip-panels" class="hidden">
        <div class="clearfix top-buttons">
            <button class="btn btn-default btn-xs pull-right" id="{{id}}-back-to-trip-list"><i
                    class="fa fa-arrow-left"></i> {{translate 'Back'}}
            </button>
        </div>

        <div id="{{id}}-trip"></div>

        <div id="{{id}}-itinerary"></div>

        <div id="{{id}}-attendees" class="attendees"></div>
    </div>
</div>