<div class="form-group required">
    <label class="control-label" for="{{id}}-name">{{translate 'Trip Name'}}</label>
    <input type="text" class="form-control {{id}}-field" id="{{id}}-name" placeholder="{{translate 'Enter Trip Name'}}">
</div>
